body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Ingen+meny");
}

mark,
.menu,
.btn-primary {
    border-color: #dddddd;
    background-color: #dddddd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #cccccc;
    background-color: #cccccc;
}
