body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Saigon+Street+Corner+Dining+(at+noon).jpg");
}

mark,
.menu,
.footer,
.btn-primary {
    border-color: #590a0d;
    background-color: #590a0d;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #47080A;
    background-color: #47080A;
}
