body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Hal's+Hamburgers+in+Pendleton,+Oregon.jpg");
}

mark,
.menu,
.footer,
.btn-primary {
    border-color: #484a70;
    background-color: #484a70;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #3A3B5A;
    background-color: #3A3B5A;
}
