body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Ingen");
}

mark,
.menu,
.footer,
.btn-primary {
    border-color: ingen;
    background-color: ingen;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: ingen;
    background-color: ingen;
}
