body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Street+Dining+Lesehan+in+Kebayoran+Baru,+Jakarta.jpg");
}

mark,
.menu,
.footer,
.btn-primary {
    border-color: #85271b;
    background-color: #85271b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #6A1F16;
    background-color: #6A1F16;
}
