body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Harbour+Skyline+Boston+MA+USA.jpg");
}

mark,
.menu,
.btn-primary {
    border-color: #3c71a7;
    background-color: #3c71a7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #305A86;
    background-color: #305A86;
}
