body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=TapasenBarcelona.JPG");
}

mark,
.menu,
.btn-primary {
    border-color: #da6b00;
    background-color: #da6b00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #C46000;
    background-color: #C46000;
}
