body{
    background-image: url("https://commons.wikimedia.org/wiki/Special:Redirect/file?wptype=file&wpvalue=Foul+cart.JPG");
}

mark,
.menu,
.footer,
.btn-primary {
    border-color: #1d4d27;
    background-color: #1d4d27;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #173E1F;
    background-color: #173E1F;
}
