html{
    height:100%;
}
body {
    	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Grisbl%C3%A4nkan_August_2013.jpg/1920px-Grisbl%C3%A4nkan_August_2013.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	font-family: 'Georgia', cursive;
	color: #FFdd88;
	margin: 0;
    height:100%;
	padding: 0;
	text-align: left;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:20px;
}
#main {
	padding-bottom:60px;
}	
#footer {
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	text-shadow: black 0.1em 0.1em 0.1em;
}
.content {
	text-align: left;
	margin-left: 10%;
	font-size: 140%;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.ingredient {
	font-size: 90%;
	text-transform: capitalize;
}
.food {
	font-size: 160%;
	text-transform: capitalize;
}
.price {
	font-size: 120%;
	margin-left: 2em;
}
.uls-trigger{
    font-size: 120%;
    -webkit-animation-duration: 3s;
        -webkit-animation-name: glow;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-name: glow;
        animation-direction: alternate;
        animation-iteration-count: infinite;
}
    @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px #002f5c; }
        to { text-shadow: 1px 1px 10px #002f5c; }
    }
ul {
	list-style-type: none;
	line-height: 120%;
}
li {
    margin: 0 0 25px 0;
}
a {
	text-decoration : none;
	color : #FFFFFF;
}
